@mixin title {
  font-size: 4rem;

  @media (max-width: 991px) {
    font-size: 3.5rem;
  }

  @media (max-width: 768px) {
    font-size: 3rem;
  }

  @media (max-width: 576px) {
    font-size: 2rem;
  }
}

@mixin content{
    font-size: 2rem;
  
    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  
    @media (max-width: 576px) {
      font-size: 1rem;
    }
}

@mixin btn($bgColor, $color, $bRadius, $tb, $lr, $fs) {
    background-color: $bgColor;
    color: $color;
    border-radius: $bRadius;
    padding: $tb $lr;
    transition: all .3s;
    font-weight: 700;
    font-size: $fs;
    &:hover{
        background-color: $color;
        color: $bgColor;
    }
}
