.login {
    &__content {
        height: 100vh;
        padding: 80px 30px 0px 30px;
        background-color: white;
        &__header {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 32px;
            .title {
                display: flex;
                flex-direction: column;
                font-size: 20px;
                font-weight: 500;
                gap: 8px;
                span {
                    font-weight: 400;
                    font-size: 15px;
                }
            }
        }
        &__form {
            display: flex;
            flex-direction: column;
            gap: 25px;
            margin-top: 40px;
            .label {
                position: relative;
                &__inp {
                    border: 1px solid $black;
                    background-color: $gray;
                    padding: 15px 16px;
                    border-radius: 10px;
                    outline: none;
                    width: 100%;
                }
                &__span {
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $white;
                    padding: 1px 2px;
                    transition: all 0.3s ease;
                    text-transform: capitalize;
                }
                .label__inp:focus + .label__span {
                    transform: scale(0.9);
                    top: -10px;
                    left: 10px;
                }
            }
            .text {
                font-size: 14px;
                color: $black;
                span {
                    color: $dark-gray;
                }
            }
            a {
                text-align: right;
                font-size: 14px;
                color: $dark-green;
            }
            button {
                @include btn($dark-green, $black, 8px, 16px, 20px, 16px);
            }
        }
    }
}